
#contenu {
    width: 80%;
}
*{
    margin: 0%;
    padding: 0%;
}
.header{
    width: 100%;
    background-color: aqua;
}
#inseret, #contenu {
    display: inline-block;
    vertical-align: top;
    width: 85%;
}
#inseret {
width: 15%;
border-radius: 10px;
margin-right: 5%;
height: 600px;
background-color: rgb(29, 29, 63);
}
.images{
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin-top: -100;
}
.contenu{
    display: flex;
    flex-direction: row;
    padding-left: 300px;
       
}
h1,p{
    text-align: center;
}

ul{
    width: 200px;
}
.header3{
    background-color: darkgray;
}