h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-style: italic;
}
 
.image{
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -100px;
}
h1,p{
    text-align: center;
}

h2{
    font-style: italic;
}
#insertion{
    display: inline-block;
    width: 15%;
    border-radius: 10px;
    margin-right: 2%;
    height: 600px;
    background-color: rgb(29, 29, 63);
}
#contenu{
  width: 50%;
  display: inline-block;
  vertical-align: top;

}
#text_centrer{
    text-align: center;
}
section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    display: inline-block;
}
.section{
    padding: 1rem;
    text-align: center;
    padding: 0;
}
.section ul li{
    font-size: 26px;
    font-weight: bold;
} 