#conteneur
{
   display: flex;
   justify-content: space-between;
   align-items: center;


   border: 2px solid #444;
}
.element
{
   width: 150px;
   height: 100px;
}
.element:nth-child(1)
{
    background-color: chartreuse;
}
.element:nth-child(2)
{
    background-color: darkblue;
}
.element:nth-child(3)
{
    background-color: darkorange;
}